# Binaries
*.exe
telegram-music-addon
telegram-music-addon.exe

# Environment & Credentials
.env
.env.local

# Cache & Temporary Data


# Logs & Debug
*.log
*.tmp

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

